.dashboard {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  /* grid-template-rows: repeat(6, minmax(0, 1fr)); */
  gap: 10px;
}
.dashboard > * {
  grid-column: span 4 / span 4;
}
.dashboard .card,
.dashboard .order {
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.dashboard .card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard .card-body {
  padding-top: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: auto;
}
.dashboard .card-body div {
  margin-right: auto;
}
.dashboard .card h3 {
  font-weight: 600;
  color: var(--black-60);
  display: inline-block;
  margin-right: 5px;
  /* font-size: 20px; */
}
.dashboard .card p,
.dashboard .card small {
  color: var(--black-10);
  font-size: 13px;
}
.dashboard .card svg {
  padding: 5px;
  background: #5570f11f;
  border-radius: 4px;
}
.dashboard .card small.action {
  color: #519c66;
  /* # */
}
.dashboard .order {
  grid-row: 2 / 8;
  padding: 10px;
}
.dashboard .order li {
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid var(--smoke);
  padding: 15px 0;
}
.dashboard .order li div:last-of-type {
  margin-left: auto;
}
.dashboard .order .date {
  color: var(--black-10);
  font-size: 13px;
}
.dashboard .order .status {
  background: var(--smoke);
  text-align: center;
  padding: 2px 10px;
  border-radius: 8px;
  /* #F57E771F */
}
.dashboard .doughnut {
  grid-row: 2/4;
}
.dashboard .card-5 {
  grid-row: 3 / 4;
  grid-column: 5 / 9;
}
