.conversations {
  padding: 20px;
}
.conversations .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.conversations .main {
  display: flex;
  gap: 20px;
}
.conversations .chats,
.conversations .messages {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
}
.chats {
  width: 350px;
}
.chats-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chats-head h4 {
  font-size: 20px;
  font-weight: 600;
}
.chats li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border-bottom: 1px solid var(--smoke);
  padding: 15px 0;
}
.chats li > div:last-of-type {
  margin-left: auto;
}
.chats li .name {
  font-weight: bold;
}
.chats li .date {
  font-size: 13px;
}
.chats .content {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.messages {
  flex: 1;
}
.user-details {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--smoke);
  padding-bottom: 10px;
  gap: 20px;
}
.user-details .name {
  font-weight: 500;
  margin-bottom: 10px;
}
.user-details .status {
  color: var(--black-10);
}
.user-details .status .dot {
  background: var(--primary);
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}
.user-details .date {
  color: var(--black-30);
  font-size: 13px;
  margin: 0 5px;
}
.user-details div:last-of-type {
  margin-left: auto;
}
.user-details div:last-of-type > span {
  display: inline-block;
  margin-left: 10px;
}
.user-details .summary {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
}
.user-details .summary small {
  display: inline-block;
  margin-bottom: -5px;
}
.user-details a {
  color: var(--primary);
  padding: 0px 10px;
}
.message-content {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
.message-content p {
  padding: 16px 20px;
  background: var(--primary);
  border-radius: 16px 16px 16px 0;
  color: #fff;
  width: fit-content;
  max-width: 350px;
}
.message-content small {
  margin-top: 5px;
}
.message-content.owner {
  align-items: flex-end;
}
.message-content.owner p {
  background: #ffead1;
  color: #1c1d22;
  border-radius: 16px 16px 0 16px;
}
.message-content.owner span {
  background: #ffead1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  /* align-items: center;
  justify-content: center; */
}
/* search bar  */
.seachbar-input-div {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 24px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid var(--smoke);
}
.seachbar-input-div input {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  outline: none;
  margin: 0;
  padding: 0;
}
.seachbar-input-div i {
  color: var(--black);
  font-size: 1.2rem;
}
@media (max-width: 965px) {
  .conversations .main {
    flex-direction: column;
  }
  .chats {
    width: 100%;
  }
}
@media (max-width: 512px) {
  .user-details {
    flex-direction: column;
  }
  .user-details .summary {
    justify-content: center;
  }
  .user-details div:last-of-type {
    margin-left: 0;
  }
}
