.sidebar {
  padding: 24px;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 350px;
}
.sidebar .logo {
  margin-bottom: 32px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.sidebar .logo span {
  font-weight: bold;
  font-size: 20px;
  margin-top: 8px;
  color: var(--black-60);
}
.sidebar li a {
  display: flex;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.sidebar li a.active {
  background: var(--primary);
  color: #fff;
}
.sidebar li a:hover {
  background: var(--smoke);
  color: var(--black-50);
}
.sidebar .info {
  margin-top: auto;
}
