/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

:root {
  --primary: #5570f1;
  --black-60: #45464e;
  --black-50: #53545c;
  --black-10: #bec0ca;
  --smoke: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--smoke);
}

a {
  text-decoration: none;
  color: var(--black-50);
}
li {
  list-style: none;
}
